<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="shortcut icon" href="/favicon.ico" />
		<title>
			<%=title-%>
		</title>
		<link rel="stylesheet" type="text/css" href="/styles/bootstrap.css">
		<style type="text/css">
			textarea {
				resize: vertical;
			}
			.commit{
				padding:20px;
			}
			.avatar{
				width: 80px;
				height: 80px;
				display: inherit;
				margin: 0 auto;
			}
			ul{
				padding-top: 50px;
			}
		</style>
	</head>

	<body>
		<div class="commit" diew="代云舟" email="1254473705@qq.com">
			<div class="container-fluid">
				<div class="row">
					<form>
						<div class="form-group">
					      <label for="commit">输入您的留言:</label>
					      <textarea class="form-control"id="commit" rows="3"></textarea>
					    </div>
						<button type="button" class="btn btn-success submit-commit">提交</button>
						<button type="reset" class="btn btn-warning">重置</button>
					</form>
				</div>
				<div class="row">
					<ul class="commit-all list-group">
					</ul>
				</div>
			</div>
		</div>
	</body>
	<script src="/utils/jquery-1.10.1.min.js"></script>
	<script src="/utils/socket.io.js"></script>
	<script src="/javascripts/index.js"></script>
</html>