<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="shortcut icon" href="/favicon.ico" />
		<title>
			<%=title-%>
		</title>
		<link rel="stylesheet" type="text/css" href="/styles/bootstrap.css">
		<style type="text/css">
			textarea {
				resize: vertical;
			}
			.commit{
				padding:20px;
			}
			.avatar{
				width: 80px;
				height: 80px;
				display: inherit;
				margin: 0 auto;
			}
			ul{
				padding-top: 50px;
			}
		</style>
	</head>

	<body>
		<div class="commit" diew="代云舟" email="1254473705@qq.com">
			<div class="container-fluid">
				<div class="row">
					<form>
						<div class="form-group">
					      <label for="commit">输入您的留言:</label>
					      <textarea class="form-control"id="commit" rows="3"></textarea>
					    </div>
						<button type="button" class="btn btn-success submit-commit">提交</button>
						<button type="reset" class="btn btn-warning">重置</button>
					</form>
				</div>
				<div class="row">
					<ul class="commit-all list-group">
						<li class="row list-group-item">
							<div class="col-md-2 col-xs-12">
								<img src="/images/avatar/avatar01.jpg" alt="llalalalla" class="img-thumbnail text-center avatar">
								<p class="text-center">小老鼠</p>
							</div>
							<div class="col-md-10 col-xs-12">
								<p>fdsadfasdfasdfa ad帝国时代啊爱使股份发生sdffsfs 发顺丰阿斯达撒旦法方式发生发生大幅阿道夫爱的色放爱的色放上的过 撒旦法讽德诵功哀伤的风格v按规范爱上风格v分发给发给爱妃苟富贵电饭锅</p>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</body>
	<script src="/utils/jquery-1.10.1.min.js"></script>
	<script src="/javascripts/index.js"></script>
	<script src="/utils/socket.io.js"></script>
	<script type="text/javascript">
		var socket = io.connect('http://127.0.0.1:3000/');
	    socket.on('news', function (data) {
	    	console.log(data);
	    });
	</script>
</html>